    #nome-completo{
        text-align: center;
        font-family: Franklin;
        background-color: #d5c7bc;
        padding: 10px;
    }

    body{
        text-align: center;
        font-family: Verdana;
        background-color: aliceblue;
    }

    #apresentacao-rodolfo{
        background-size: 200px;
        background-color: #d5c7bc;
        font-size: 20px;
        line-height: 30px;
        padding: 16px;
        
    }

    .links{
        color:black;
    }




